<div role="tabpanel" class="clearfix tab-pane" id="attraction_photos">
  <div class="col-xs-12 col-md-12">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="text-center"><%= thumb_upload_header %></h1>
        <div class="shrink text-center">
          <div id="thumb-preview-container">
            <button type="button" class="pull-right" id="thumb-preview-close">
              <span><i class="fa fa-times-circle-o fa-lg"></i></span>
            </button>
            <%= image_tag("", id: "exchangeThumbPreview", class: "img-rounded img-responsive") %>
          </div>
          <div class="text-center"><i class="fa fa-download fa-2x thumb-download icon"></i></div>
          <%= link_to image_path(@detailed_location.ImageThumb), class: '', data: {lightbox: :AttractionPhotos}, title: '' do %>
            <%= image_tag(@detailed_location.ImageThumb, class: "img-rounded img-responsive", alt: "image") %>
          <% end %>
        </div>
        <div class="row">
          <div id="image-upload" class="text-center">
            <button type="button" class="btn btn-primary hudson-button" id="image-thumb-upload-button"
                    data-target="#imageThumbModal"><%= thumb_upload_button %>
            </button>
            <span><i class="fa fa-info-circle icon" data-toggle="popover" data-content="<%= thumb_upload_descr(no_span: true) %>"></i></span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h1 class="text-center"><%= image_upload_header %></h1>
        <div class="shrink text-center">
          <div id="image-preview-container">
            <button type="button" class="pull-right" id="image-preview-close">
              <span><i class="fa fa-times-circle-o fa-lg"></i></span>
            </button>
            <%= image_tag("", id: "exchangeImagePreview", class: "img-rounded img-responsive") %>
          </div>
          <div class="text-center"><i class="fa fa-download fa-2x image-download icon"></i></div>
          <%= link_to image_path(@detailed_location.Images), class: '', data: {lightbox: :AttractionPhotos}, title: '' do %>
            <%= image_tag(@detailed_location.Images, class: "img-rounded", alt: "image") %>
          <% end %>
        </div>
        <div class="row">
          <div id="image-upload" class="text-center">
            <button type="button" class="btn btn-primary hudson-button" id="image-upload-button"
                    data-target="#imageModal"><%= image_upload_button %>
            </button>
            <span><i class="fa fa-info-circle icon" data-toggle="popover" data-content="<%= image_upload_descr(no_span: true) %>"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

