<div role="tabpanel" class="clearfix tab-pane" id="attraction_details">
  <div class="col-xs-12 col-md-6">
    <div class="form-group">
      <label for="summary_desc"><%= summary_descr_label %></label>
      <%= f.text_area :SummaryDescr, :class => "form-control", :id => "summary_desc", :rows => 8 %>
    </div>
    <div class="form-group">
      <label for="instructions"><%= instructions_label %></label>
      <%= f.text_area :Instructions, :class => "form-control", :id => "instructions", :rows => 8 %>
    </div>
    <div class="form-group">
      <label for="details"><%= details_label %></label>
      <%= f.text_area :Details, :class => "form-control", :id => "details", :rows => 8 %>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="form-group">
      <label for="special_info"><%= special_info_label %></label>
      <%= f.text_area :SpecialInfo, :class => "form-control", :id => "special_info", :rows => 8 %>
    </div>
    <div class="form-group">
      <label for="terms_and_conditions"><%= terms_and_cond_label %></label>
      <%= f.text_area :TermsAndConditions, :class => "form-control", :id => "terms_and_conditions", :rows => 8 %>
    </div>
  </div>
</div>
