<div class="modal fade" id="imageThumbModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog image-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" id="close-thumb-modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= image_thumb_upload_header %></h4>
      </div>
      <div class="modal-body">
        <%= image_tag("", id: "uploadThumbPreview", class: "img-responsive") %>
        <span>
                 <%= f.file_field :ImageThumb, :class => "filestyle", :id => "uploadThumbImage", :type => "file",
                                  :data => {:buttonName => 'hudson-button', :buttonBefore => "true"} %>
        </span>
      </div>
      <div class="modal-footer">
        <button type="button" id="thumb-image-save" class="btn btn-default hudson-button" data-dismiss="modal"><%= image_upload_save %></button>
        <button type="button" id="thumb-image-cancel" class="btn btn-default hudson-button" data-dismiss="modal"><%= image_upload_cancel %></button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
