<div role="tabpanel" class="clearfix tab-pane" id="extended_details">

  <div class="col-xs-12 col-md-6">
    <div class="form-group">
      <label for="specialInfo"><%= source_name_label %></label>
      <br/>
      <ul class="list-group">
        <li class="list-group-item read-only-field"><%= @detailed_location.SourceName %></li>
      </ul>
    </div>
    <div class="form-group">
      <label for="specialInfo"><%= source_TOD_label %></label>
      <br/>
      <ul class="list-group">
        <li class="list-group-item read-only-field"><%= @detailed_location.SourceTOD %></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="form-group">
      <label for="specialInfo"><%= last_update_label %></label>
      <br/>
      <ul class="list-group">
        <li class="list-group-item read-only-field"><%= @detailed_location.LastUpdateName %></li>
      </ul>
    </div>
    <div class="form-group">
      <label for="specialInfo"><%= record_update_label %></label>
      <br/>
      <ul class="list-group">
        <li class="list-group-item read-only-field"><%= @detailed_location.RecordUpdateTOD %></li>
      </ul>
    </div>
  </div>
</div>