<%= form_for(@detailed_location, url: detailed_location_path, action: "index", multipart: true) do |f| %>
  <!-- Tab panes -->
  <div class="tab-content hudson-subsection">
    <%= render :partial => 'location/location_details/location_details', :object => @detailed_location, :locals => {:f => f} %>
    <%= render :partial => 'location/attraction_details/attraction_details', :object => @detailed_location, :locals => {:f => f} %>
    <%= render :partial => 'location/attraction_details/attraction_photos', :object => @detailed_location, :locals => {:f => f} %>
    <%= render :partial => 'location/extended_details/extended_details', :object => @detailed_location, :locals => {:f => f} %>
  </div>
  <button type="submit" class="btn hudson-button pull-right"><%= submit_button_text %></button>
  <%= render :partial => 'location/attraction_details/image_upload', :object => @detailed_location, :locals => {:f => f} %>
  <%= render :partial => 'location/attraction_details/image_thumb_upload', :object => @detailed_location, :locals => {:f => f} %>
<% end %>





