<div role="tabpanel" class="tab-pane active clearfix" id="location_details">
  <div class="col-xs-12 col-sm-6">
    <div class="form-group <%= "#{error_class(@detailed_location,'Location')}" %>">
      <label class="control-label" for="location"><i class="required-field fa fa-asterisk"></i><%= location_label %>
      </label>
      <%= f.text_field :Location, :class => "form-control", :id => "location", aria: {:describedby => "locationStatus"}, :maxlength => 50 %>
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    </div>
    <div class="form-group">
      <label for="address"><%= raw_address_label %></label>
      <%= f.text_area :Address, :class => "form-control", :id => "address", :maxlength => 255 %>
    </div>
    <div class="form-group">
      <label for="address2"><%= raw_address2_label %></label>
      <%= f.text_area :Address2, :class => "form-control", :id => "address2", :maxlength => 255 %>
    </div>
    <div class="input-container">
      <div class="city-state-container">
        <div class="form-group" id="city-group">
          <label for="city"><%= raw_city_label %></label>
          <%= f.text_field :City, :class => "form-control", :id => "city", :maxlength => 50 %>
        </div>
        <div class="state-container">
          <div class="form-group pull-left" id="state-group">
            <label for="state"><%= raw_state_label %></label>
            <%= f.text_field :State, :class => "form-control", :id => "state", :maxlength => 50 %>
          </div>
        </div>
      </div>
      <div class="zip-country-container">
        <div class="form-group" id="zip-group">
          <label for="zip"><%= raw_zip_label %></label>
          <%= f.text_field :Zip, :class => "form-control", :id => "zip", :maxlength => 50 %>
        </div>
        <div class="country-container">
          <div class="form-group pull-left" id="country-group">
            <label for="country"><%= country_label %></label>
            <%= f.country_select(:Country, {priority_countries: ['US', 'CA', 'MX', 'GB', 'FR']},
                                 {class: 'form-control', data: {attribute: "value"}}) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 pull-right">
    <div class="form-group <%= "#{error_class(@detailed_location,'FareName')}" %>">
      <label class="control-label" for="fare-name"><i class="required-field fa fa-asterisk"></i><%= fare_name_label %>
      </label>

      <%= f.text_field :FareName, :class => "form-control", :id => "fare-name", aria: {:describedby => "locationStatus"}, :size => 50 %>
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    </div>
    <div class="form-group">
      <label for="specialInfo"><%= fare_code_label %></label>
      <br/>
      <ul class="list-group">
        <li class="list-group-item read-only-field"><%= @detailed_location.FareCode %></li>
      </ul>
    </div>
    <div class="form-group">
      <label for="FareType"><%= fare_type_label %></label>
      <%= f.collection_select(:FareType, LocationType.all(@site_id), :type, :label, {},
                              {:class => "form-control", :id => "fare-type", :maxlength => 2}) %>
    </div>
    <div class="form-group">
      <label for="fare_options"><%= fare_opts_label %></label>
      <%= f.text_field :FareOpts, :class => "form-control", :id => "fare-option", :maxlength => 255 %>
    </div>
  </div>
</div>