@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "locations";
@import "attractions";
@import "extended_details";
@import "lightbox";
@import "media_queries";

body {
  padding-top: 50px;
}

.clearfix {
  overflow: auto;
}

.content-window {
  margin: auto;
}

.error_box, .notice_box {
  padding: 15px;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin: 40px auto;
}

.hudson-button {
  margin-top: 15px;

}

.tab-content {
  padding: 20px;
}

.tab-pane.active {
  -webkit-animation-duration: .15s;
  animation-duration: .15s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  @-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.required-field {
  vertical-align: top;
  font-size: 0.5em;
}

.nav-tabs > li > a {
  padding: 20px 25px;
  margin-right: 3px;
  color: #737373;
  text-shadow: 0 1px 1px #fff 1px 1px #fff;
  box-shadow: inset 0 -8px 7px -9px rgba(0, 0, 0, .4);
}

//.nav-tabs > li{
//  margin-bottom: -2px;
//}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.5), 2px -4px 5px -2px rgba(0, 0, 0, 0.5);
}







