
.shrink img {
  margin:auto;
  height: 140px;
  transition: all .15s ease;

  -moz-transition: all .15s ease;
  -ms-transition: all .15s ease;
  -o-transition: all .15s ease;
  -webkit-transition: all .15s ease;
  width: auto;
}

.shrink img:hover {
  box-shadow: 3px 3px 3px #111;
  height: 145px;
  width: auto;
}

#image-upload {
  margin: 15px 30px;
}

#uploadPreview, #uploadThumbPreview {
  margin: 0 auto 20px;
}

label.btn.hudson-button {
  margin-top: 0;
}

.image-modal{
  max-width: 900px;
  height: auto;
  overflow: visible;
}

#exchangeImagePreview, #exchangeThumbPreview{
  display:none;
  clear: both;
}

.image-download, .thumb-download {
  display: none;
  margin: 20px auto;
}

#thumb-preview-close, #image-preview-close{
  display: none;
  border: none;
  position: relative;
  top: 7px;
  left: 18px;
  background-color: transparent;
}

#thumb-preview-container, #image-preview-container{
  display: none;
}


