
.form-group#city-group {
  float: left;
  max-width: 150px;
  margin-right: 10px;
}

.form-group#state-group {
  float: right;
  max-width: 150px;
}

.form-group#zip-group {
  float: left;
  max-width: 150px;
  margin-right: 10px;
}

.form-group#country-group {
  float: right;
  max-width: 150px;

}

.country-container .state-container{
  width: 100%;
}

.error-field{
  input{
    background-color: pink;
  }

  .glyphicon{
    display: block !important;
  }
}

.glyphicon{
  display: none;
}



