/*

	Extra small devices Phones (<768px)
	Small devices Tablets (≥768px)
	Medium devices Desktops (≥992px)
	Large devices Desktops (≥1200px)

*/

@media (max-width: 768px) {
  .form-group#state-group, .form-group#country-group {
    margin-right: 10px;
  }

}

@media (max-width: 1200px) {
  .tab-label {
    display: none;
  }
}


@media (max-width: 450px) {
  .nav-tabs > li {
    text-align: center;
    padding: inherit;
    width: 25%;
  }

  .nav-tabs > li > a{
    padding: 20px 0 !important;
  }

}