<div class="col-xs-12 col-md-10 col-md-offset-1">

  <% if flash[:save_message] -%>
    <p class="notice_box bg-success text-success text-left">
      <i class="fa fa-check-circle fa-2x"></i>
      <%= flash[:save_message] %>
    </p>
  <% end %>

  <% if flash[:error] -%>
    <p class="error_box bg-danger text-danger text-left">
      <% flash[:error].each do |msg| %>
        <i class="fa fa-exclamation-circle fa-2x"></i>
        <%= msg %>
        <br/>
      <% end %>
    </p>
  <% end %>


  <div class="content-window" role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active">
        <a href="#location_details" aria-controls="location_details" role="tab" data-toggle="tab">
          <i class="fa fa-<%= loc_tab_icon(no_span: true) %> fa-2x hidden-sm hidden-md"></i>
          <i class="fa fa-<%= loc_tab_icon(no_span: true) %> fa-3x hidden-lg hidden-xs"></i>
          <span class="tab-label"><%= loc_tab_label %></span>
        </a></li>

      <% if display_attr_tab? %>

        <li><a href="#attraction_details" aria-controls="attraction_details" role="tab" data-toggle="tab">
          <i class="fa fa-<%= attr_tab_icon(no_span: true) %> fa-2x hidden-sm hidden-md"></i>
          <i class="fa fa-<%= attr_tab_icon(no_span: true) %> fa-3x hidden-lg hidden-xs"></i>
          <span class="tab-label"><%= attr_tab_label %></span>
        </a></li>
        <li><a href="#attraction_photos" aria-controls="attraction_photos" role="tab" data-toggle="tab">
          </i><i class="fa fa-<%= attr_pic_tab_icon(no_span: true) %> fa-2x hidden-sm hidden-md"></i>
          </i><i class="fa fa-<%= attr_pic_tab_icon(no_span: true) %> fa-3x hidden-lg hidden-xs"></i>
          <span class="tab-label"><%= attr_pic_tab_label %></span>
        </a></li>

      <% end %>

      <li><a href="#extended_details" aria-controls="extended_details" role="tab" data-toggle="tab">
        <i class="fa fa-<%= extend_tab_icon(no_span: true) %> fa-2x hidden-sm hidden-md"></i>
        <i class="fa fa-<%= extend_tab_icon(no_span: true) %> fa-3x hidden-lg hidden-xs"></i>
        <span class="tab-label"><%= extend_tab_label %></span>
      </a></li>
    </ul>

    <%= yield %>

  </div>
</div>