<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="lt-ie10 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <%= javascript_include_tag 'respond/respond' %>
  <![endif]-->

  <style> <%= current_theme.to_css %> </style>
  <style>

    .nav-tabs > li > a, .read-only-field {
      background-color: <%= subsection_tab_color %>
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus{
      background-color: <%= current_theme.subsection_background_color %>;
    }

    .icon{
      color: <%= current_theme.primary_background_color %>;
    }

  </style>
  <title><%= application_title(no_span: true) %></title>
</head>
<%= content_tag :body,
                class: "hudson-app",
                data:  {
                    controller: controller_name,
                    action:     action_name,
                    site:       current_site_id,
                    env:        Rails.env,
                    urls:       {}
                } do %>
  <div class="container">
    <div class="row">
      <%= render "layouts/tabs" %>
    </div>
  </div>

<% end %>
</html>
